<div class="trail_partner_main">
  <section class="trail_partner_main_inner">
    <div class="container">
      <div class="trail_partner text-center">
        <h1 class="text-uppercase">{{ 'static-pages.trail-partners.title' | translate }}</h1>
        <img class="img-fluid" src="assets/images/static-pages/trail-partner/trail_webp.webp" alt="" />
      </div>
      <div class="sponsorship_partnership text-center">
        <h2 class="mb-0">{{ 'common-data.sponsorship' | translate }}</h2>
        <span>{{ 'common-data.opportunities' | translate }}</span>
        <p class="text-left">
          {{ 'static-pages.trail-partners.about-ragnar-trail' | translate }}
        </p>
        <div class="row sponsorship_partnership-row text-left">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <p>
              {{ 'static-pages.trail-partners.ragnar-trail-partnerships' | translate }}
            </p>
            <ul>
              <li>{{ 'common-data.engagement-points' | translate }}</li>
              <li>{{ 'static-pages.trail-partners.on-course branding' | translate }}</li>
              <li>{{ 'common-data.product-usage' | translate }}</li>
              <li>{{ 'common-data.entitlement-elements' | translate }}</li>
              <li>{{ 'common-data.marketing-efforts' | translate }}</li>
              <li>{{ 'common-data.custom-retail' | translate }}</li>
            </ul>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <p>{{ 'common-data.hitch-your-brand' | translate }}</p>
            <ul>
              <li>
                {{ 'common-data.meticulous-event' | translate }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="official_partners text-center">
      <h3>{{ 'common-data.official-partners' | translate }}</h3>
      <div class="official_partners-inner">
        <div class="container official_partners-inner">
          <div class="partner-logo" *ngFor="let partner of trailPartners | roadPartner : false : true">
            <div class="partner-info" *ngIf="partner.showOfficialPopup">
              <div class="partner-info-content">
                <button type="button" class="close" (click)="partner.showOfficialPopup = !partner.showOfficialPopup" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <a href="{{ partner.url }}" target="_blank">
                  <img class="center-block img-responsive" src="{{ partner.logo }}" alt="" />
                </a>
                <h3 class="text-orange font-light">{{ partner.name }}</h3>
                <br />
                <div class="font-light tiny-text" [innerHTML]="partner.description"></div>
                <br />
              </div>
            </div>
            <div class="partner-logo-img">
              <a role="button" (click)="hidePopups(); partner.showOfficialPopup = !partner.showOfficialPopup">
                <img class="img-responsive center-block" src="{{ partner.logo_black }}" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
