@import '../../../assets/styles/vars';

/******* HEADER START *******/
::ng-deep {
  .site-header {
    background: $white;
    padding: 0 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    top: 0;

    .container {
      @media (max-width: $screen-md-max) {
        max-width: 100% !important;
      }
    }

    @media (max-width: 991px) {
      padding: 12px 0;

      .navbar-nav {
        align-items: flex-start !important;
        margin-top: 40px;
      }
    }

    .navbar-brand {
      img {
        width: 100%;
      }

      @media (max-width: $screen-md-max) {
        max-width: 200px;
      }

      @media (max-width: $screen-sm-max) {
        max-width: 170px;
      }

      @media (max-width: 991px) {
        max-width: 50px;
        margin: 0;
      }
    }

    .nav_vol {
      @media (max-width: 991px) {
        display: flex;
        flex-direction: row;
        width: 100%;

        ul {
          width: 100%;
        }

        li {
          width: 100%;
        }

        > ul {
          > li {
            margin-bottom: 25px;
          }
        }
      }
    }

    .nav-item {
      &.newsletter-btn {
        @media (max-width: 991px) {
          order: 1;
          margin-top: 30px;
        }
      }

      &.show {
        > .nav-link {
          &:after {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            opacity: 1;
          }
        }

        @media (max-width: 991px) {
          > a {
            color: $navy;
          }
        }
      }

      &.humburg_icon {
        margin-right: 0;

        a {
          display: block;
          height: 10px;
          width: 16px;
          margin-left: 22px;
          position: relative;

          @media (max-width: 991px) {
            margin-left: 0;
          }

          span {
            &:before,
            &:after {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              background: $white;
              border-radius: 2px;
              top: 0;
              transition: all 0.3s ease 0s;
            }

            &:after {
              bottom: 0;
              top: auto;
            }

            &.close_icon {
              &:before {
                transform: translateX(0px) translateY(0) rotate(45deg);
                top: 2px !important;
              }

              &:after {
                transform: translateX(0px) translateY(0) rotate(-45deg);
                top: 2px;
              }
            }
          }
        }
      }
    }

    .nav-link {
      color: $dark_gray;
      font-weight: 500;
      padding: 37px 20px !important;
      cursor: pointer;

      @media (max-width: 1250px) {
        padding-left: 15px !important;
        padding-right: 15px !important;
      }

      @media (max-width: $screen-md-max) {
        padding-left: 9px !important;
        padding-right: 9px !important;
      }

      @media (max-width: 991px) {
        padding: 0 10px !important;
        margin: 0 0 0 0;
        position: relative;
        font-size: 24px;
        font-weight: 600;
        color: rgba(15, 14, 12, 0.5);
        text-align: left;
      }

      &::after {
        background-image: url(/assets/images/arrow-down.svg);
        border: none;
        height: 7px;
        width: 13px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 4px;
        position: relative;
        margin-left: 12px;
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;

        @media (max-width: 991px) {
          top: 12px;
          position: absolute;
          margin-left: 12px;
          right: 10px;
          left: auto;
          height: 11px;
          width: 18px;
          opacity: 0.5;
        }
      }

      &:hover {
        color: $orange-brand;
      }
    }

    .dropdown {
      &.show {
        @media (max-width: 991px) {
          > li {
            > a {
              color: $navy;

              &:focus {
                color: $navy;
              }
            }
          }
        }
      }
    }

    .dropdown-menu {
      top: 92%;
      border: none;
      border-radius: 10px;
      min-width: 260px;
      background-color: $white;
      z-index: 999;
      padding: 24px 16px;
      box-shadow: 0 0 19px 0 rgb(0 0 0 / 10%);
      -webkit-box-shadow: 0 0 19px 0 rgb(0 0 0 / 10%);
      margin: -10px 0 0 0;
      max-height: 80vh;
      overflow: auto;

      &::-webkit-scrollbar-button {
        display: none;
      }

      &::-webkit-scrollbar {
        background-color: $white;
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        background-color: $white;
      }

      &::-webkit-scrollbar-track:hover {
        background-color: $white;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 5px solid $white;
      }

      &::-webkit-scrollbar-thumb:hover {
        border: 5px solid $white;
      }

      @media (max-width: 991px) {
        box-shadow: none;
        padding: 0;
        position: relative !important;
        transform: none !important;
        top: 0 !important;
        left: 0 !important;
        max-height: unset;
        margin: 0 0 0 0;
        padding-left: 20px;
      }

      &.race_dropdon {
        min-width: 880px;
        left: -100% !important;

        @media (max-width: 1500px) {
          min-width: 810px;
        }

        @media (max-width: 1300px) {
          min-width: 750px;
        }

        // @media (min-width: 992px) and (max-width: 1200px) {
        //   left: -70% !important;
        // }
        @media (max-width: 991px) {
          min-width: unset;
          left: 0 !important;
        }

        li {
          @media (max-width: 991px) {
            margin-top: 15px;
          }
        }

        .sub-menu {
          .dropdown-toggle {
            @media (max-width: 991px) {
              text-transform: capitalize;
            }
          }

          .dropdown-menu {
            a {
              @media (max-width: 991px) {
                margin-bottom: 0;
                font-size: 16px;
                color: rgba(15, 14, 12, 0.5);
                display: inline-block;
                font-weight: 500;
                width: 100%;

                span {
                  font-size: 10px;
                  text-transform: uppercase;
                }
              }
            }
          }
        }

        .menu_cover {
          display: flex;

          > div {
            width: 25%;
            padding-right: 2.66%;
            margin-right: 2.66%;
            border-right: 1px solid hsla(0, 0%, 40%, 0.2);

            @media (max-width: 1300px) {
              padding-right: 2%;
              margin-right: 2%;
            }

            &:last-child {
              border: 0;
              margin: 0;
            }
          }

          .theme-btn {
            min-width: unset;
            padding: 14px 20px !important;
            background: #f17a21;
            color: #fff;
            width: 100%;
            margin-bottom: 15px;

            i {
              margin-right: 10px;
              vertical-align: bottom;
            }

            @media (max-width: $screen-sm-max) {
              padding-left: 20px;
              padding-right: 20px;
            }
          }

          .affirm_menu {
            p {
              text-align: center;
            }

            img {
              filter: brightness(0);
              margin: 10px auto 0;
              display: block;
            }
            img {
              filter: brightness(0);
              margin: 10px auto 0;
              display: block;
            }
          }
          .dropdown-item {
            padding: 0;
            word-break: break-word;
            white-space: inherit;
          }

          .dropdown-item {
            padding: 0;
            word-break: break-word;
            white-space: inherit;
          }
        }
      }

      li {
        &:not(:last-child) {
          .dropdown-item {
            margin-bottom: 15px;

            @media (max-width: 991px) {
              margin-bottom: 0;
            }
          }
        }

        @media (max-width: 991px) {
          margin-top: 15px;
        }
      }
      .fix-title {
        padding: 0px !important;
      }
      .dropdown-item-title {
        color: $navy !important;
        font-size: 16px !important;
        font-weight: 700 !important;
        font-family: $font_family_barlow !important;
        margin: 0 0 10px 0 !important;
        @media (max-width: 991px) {
          font-size: 20px !important;
          margin-bottom: 0 !important;
          margin-top: 15px !important;
        }
      }

      .dropdown-item {
        padding: 0 15px;
        font-weight: 600;
        color: rgba(15, 14, 12, 0.5);
        background: transparent;
        cursor: pointer;

        &:hover {
          color: $orange-brand;
        }

        @media (max-width: 991px) {
          padding: 0;
          font-size: 20px;
        }

        &.user-btn {
          font-size: 16px;
          font-family: $font_family_lato;
          color: #0b0a0a;
          padding: 10px 20px;
          border: 1px solid #0b0a0a;
          border-radius: 6px;
          text-align: center;

          &:hover {
            background: #0b0a0a;
            color: $white;
          }

          @media (max-width: 991px) {
            padding: 13px 20px;
            font-size: 18px;
            margin-left: -10px;
          }
        }
      }

      h5 {
        margin-bottom: 0;
        line-height: 18px;
        display: flex;
        align-items: center;

        @media (max-width: 991px) {
          float: right;
          margin: 5px 0 0 5px;
        }

        &.started {
          color: $brick_red;
        }

        &.upcoming {
          color: $grey-light;
        }
      }

      ul {
        &:not(:last-child) {
          margin-bottom: 30px;
        }

        @media (max-width: 991px) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding-left: 0;

          &:not(:last-child) {
            margin-bottom: 0;
          }
        }

        li {
          @media (max-width: 991px) {
            width: 100%;

            .nav-link {
              font-size: 20px;
              margin-top: 0 !important;
              padding: 0 !important;
              text-align: left;
              margin-bottom: 0;
              text-align: left;
            }
          }

          &:last-child {
            @media (max-width: 991px) {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .region-box {
      margin-bottom: 25px;

      .dropdown-item-title {
        margin-bottom: 5px;
        display: inline-block;

        @media (max-width: 991px) {
          font-size: 20px;
          margin-bottom: 0;
        }
      }

      .dropdown-item {
        margin-top: 6px !important;
        font-size: 14px;
        margin-bottom: 10px !important;

        span {
          font-size: 10px;
          text-transform: uppercase;
          // margin-left: 3px;
        }
      }
    }

    .h-news-letter {
      margin-left: 20px;

      @media (max-width: 1250px) {
        margin-left: 15px;
      }

      @media (max-width: $screen-md-max) {
        margin-left: 9px;
      }

      @media (max-width: 991px) {
        margin-left: 0;
        margin-top: 20px;
      }

      input {
        height: 45px;
        margin-bottom: 10px;

        &:focus {
          box-shadow: none;
          border-color: $orange-brand;
        }

        @media (max-width: 991px) {
          margin-top: 4px;
        }
      }

      .dropdown-menu {
        margin: 15px 0px 0px;

        @media (max-width: 991px) {
          padding-left: 0;
        }
      }
    }

    .right_nav {
      > ul {
        > li {
          display: inline-block;
          vertical-align: middle;

          @media (max-width: 991px) {
            width: 100%;
          }
        }
      }

      @media (max-width: 991px) {
        width: 100%;
      }
    }

    .theme-btn {
      padding: 14px 25px;
      width: auto;
      display: inline-block;
      min-width: unset;
      color: $white;
      border: none;

      @media (max-width: 991px) {
        width: 100%;
        max-width: 100%;
        font-size: 20px;
        padding: 20px 20px;
      }
    }

    .no-arrow {
      &::after {
        display: none;
      }
    }

    .find-event-btn {
      @media (max-width: 991px) {
        width: auto;
        position: absolute;
        right: 60px;
        font-size: 16px;
        padding: 11px 18px;
        background-color: $navy;
        top: 10px;
      }

      @media (max-width: $screen-xxs-max) {
        right: 45px;
        top: 7px;
      }
    }

    .notification {
      margin-left: 15px;
      margin-right: 15px;

      @media (max-width: 1250px) {
        margin-left: 10px;
        margin-right: 10px;
      }

      @media (max-width: 991px) {
        margin: 6px 0 0 0;
        padding: 0;
        position: absolute;
        right: 210px;
      }

      @media (max-width: $screen-xxs-max) {
        right: 180px;
      }

      a {
        font-size: 26px;
        color: $navy;
        display: inline-block;
        text-align: center;
        line-height: 30px;
        cursor: pointer;

        @media (max-width: 991px) {
          font-size: 22px;
        }
      }
    }

    .h-profile {
      .img {
        height: 44px;
        width: 44px;
        border-radius: 50%;
        display: inline-block;
        background-color: $brand-secondary;
        line-height: 44px;
        color: $white;
        text-transform: uppercase;

        &.has-img {
          background-color: transparent;
        }

        @media (max-width: $screen-sm-max) {
          height: 40px;
          width: 40px;
          line-height: 40px;
        }

        img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          max-width: 100%;
          padding: 0;
          border-radius: 50%;
          object-position: center center;
        }
      }

      .nav-link {
        padding: 20px 0 !important;
        margin-left: 30px;

        @media (max-width: 1250px) {
          padding: 20px 0 !important;
          margin-left: 15px;
        }
      }

      .dropdown-menu {
        left: auto !important;
        right: 20px;
      }

      .dropdown-toggle {
        padding: 22px 0;

        @media (max-width: 991px) {
          padding: 0;
        }
      }
    }
  }

  .navbar-collapse {
    @media (max-width: 991px) {
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0;
      top: 73px;
      z-index: 999;
      padding-top: 15px;
      -ms-transform: translateY(30px);
      transform: translateY(30px);
      transition: all 0.3s ease 0s;
      visibility: hidden;
      opacity: 0;
      overflow-y: auto;
      overflow-x: hidden;
      padding-bottom: 61px;
      display: block !important;

      &.active {
        opacity: 1;
        visibility: visible;
        -ms-transform: translateY(0);
        transform: translateY(0);
        display: block;
      }
    }

    .navbar-nav {
      @media (max-width: 991px) {
        position: fixed;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 30px 15px 90px;
        overflow: auto;
        margin: 0;
      }
    }
  }

  .navbar-toggler {
    padding: 0;
    border: none;
    outline: 0 !important;
    width: 30px;
    height: 14px;
    font-size: 0;
    position: relative;
    transition: 0.3s all ease-in-out;

    span {
      height: 4px;
      width: 100%;
      background: #003e51;
      display: inline-block;
      border-radius: 5px;
      transition: 0.3s all ease-in-out;
      position: absolute;
      left: 0;

      &:first-child {
        top: 0;
      }

      &:last-child {
        bottom: 0;
      }
    }

    &.close-icon {
      span {
        &:first-child {
          transform: rotate(-45deg);
          top: 5px;
        }

        &:last-child {
          transform: rotate(45deg);
          bottom: 5px;
        }
      }
    }
  }
}

/******* HEADER END *******/
