<div class="footer-wrapper">
  <div [hidden]="!isMainRouterVisible" class="pre_footer testimonial-container-fluid">
    <div class="container">
      <div id="testimonial" class="carousel slide text-center" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="quote">
              <div class="quote-text">{{ 'components.footer.sliderName1' | translate }}</div>
              <div class="quote-by">{{ 'components.footer.authorName1' | translate }}</div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="quote">
              <div class="quote-text">{{ 'components.footer.sliderName2' | translate }}</div>
              <div class="quote-by">{{ 'components.footer.authorName2' | translate }}</div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="quote">
              <div class="quote-text">{{ 'components.footer.sliderName3' | translate }}</div>
              <div class="quote-by">{{ 'components.footer.authorName3' | translate }}</div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="quote">
              <div class="quote-text">{{ 'components.footer.sliderName4' | translate }}</div>
              <div class="quote-by">{{ 'components.footer.authorName4' | translate }}</div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="quote">
              <div class="quote-text">{{ 'components.footer.sliderName5' | translate }}</div>
              <div class="quote-by">{{ 'components.footer.authorName5' | translate }}</div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="quote">
              <div class="quote-text">{{ 'components.footer.sliderName6' | translate }}</div>
              <div class="quote-by">{{ 'components.footer.authorName6' | translate }}</div>
            </div>
          </div>
        </div>

        <ol class="carousel-indicators">
          <li data-target="#testimonial" data-slide-to="0" class="active"></li>
          <li data-target="#testimonial" data-slide-to="1"></li>
          <li data-target="#testimonial" data-slide-to="2"></li>
          <li data-target="#testimonial" data-slide-to="3"></li>
          <li data-target="#testimonial" data-slide-to="4"></li>
          <li data-target="#testimonial" data-slide-to="5"></li>
        </ol>
      </div>
    </div>
  </div>
  <div id="footer" class="container-fluid">
    <div class="container">
      <div class="footer-inner row">
        <div id="social" class="col col-xs-12 offset-lg-1 offset-sm-0">
          <div class="footer-block-wrapper">
            <h4 class="title">{{ 'components.footer.connect-with-us' | translate }}</h4>
            <div class="footer-block-item">
              <ul class="social-links">
                <li>
                  <a href="https://twitter.com/ragnarrelay"><i class="iconm-twit"></i></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/TheRagnarRelaySeries"><i class="iconm-facebook"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/ragnarrelay/"><i class="iconm-instagram"></i></a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/ragnarrelay"><i class="iconm-youtub"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="download-app-section" class="col col-xs-12">
          <div class="footer-block-wrapper">
            <h4 class="title">{{ 'components.footer.get-ragnar-app' | translate }}</h4>
            <div class="footer-block-item">
              <div class="store-btn">
                <a target="_blank" href="https://apps.apple.com/us/app/ragnar-official/id1454525098">
                  <img class="img-responsive" src="assets/images/virtual-challenge/app-store.png" />
                </a>
              </div>

              <div class="store-btn">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.ragnarrun.app.android&hl=en">
                  <img class="img-responsive" src="assets/images/virtual-challenge/google-play.png" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="races" class="col col-xs-12">
          <div class="footer-block-wrapper">
            <h4 class="title">{{ 'common-data.races' | translate }}</h4>
            <div class="footer-block-item">
              <ul class="footer-links contact-links">
                <li>
                  <a routerLink="/{{ footerRoutes.exploreMap }}">{{ 'components.footer.explore-map' | translate }}</a>
                </li>
                <!-- Commented as per RW-453 -->
                <!-- <li>
                  <a href="{{ footerRoutes.ragnarchallenges }}">{{ 'components.footer.challenges' | translate }}</a>
                </li> -->
                <li>
                  <a routerLink="/{{ footerRoutes.innovationLab }}">{{ 'components.footer.innovation-lab' | translate }}</a>
                </li>
                <li>
                  <a routerLink="/{{ footerRoutes.ragnarTrailGlamping }}">{{ 'components.footer.trail-glamping' | translate }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div id="how-it-works" class="col col-xs-12">
          <div class="footer-block-wrapper">
            <h4 class="title">{{ 'components.footer.how-it-works' | translate }}</h4>
            <div class="footer-block-item">
              <ul class="footer-links how-works-links">
                <li>
                  <a routerLink="/{{ footerRoutes.whatIsRagnar }}">{{ 'components.footer.what-is-ragnar' | translate }}</a>
                </li>
                <li>
                  <a routerLink="/{{ footerRoutes.teamsDivisions }}">{{ 'components.footer.teams-divisions' | translate }}</a>
                </li>
                <li>
                  <a routerLink="/{{ footerRoutes.medals }}">{{ 'components.footer.medals' | translate }}</a>
                </li>
                <li>
                  <a routerLink="/{{ footerRoutes.safety }}">{{ 'components.footer.safety' | translate }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div id="about-us" class="col col-xs-12">
          <div class="footer-block-wrapper">
            <h4 class="title">{{ 'components.footer.about-us' | translate }}</h4>
            <div class="footer-block-item">
              <ul class="footer-links contact-links">
                <li>
                  <a routerLink="/{{ footerRoutes.ourStory }}">{{ 'components.footer.our-story' | translate }}</a>
                </li>
                <li>
                  <a href="{{ footerRoutes.careers }}" target="_blank">{{ 'components.footer.careers' | translate }}</a>
                </li>
                <li>
                  <a href="{{ footerRoutes.contactUs }}" target="_blank" target="_blank">{{
                    'components.footer.contact-us' | translate
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="copyrigths" class="col-xs-12 col-no-padding">
  <div class="container copyright-inner">
    <div class="col-xs-12 col-no-padding">
      <div class="text-center">&copy; {{ year }} {{ 'components.footer.events' | translate }}</div>
      <div class="col-xs-12 col-no-padding text-menu-bar">
        <ul class="list-unstyled">
          <li>
            <a routerLink="/{{ footerRoutes.privacyPolicy }}">{{ 'components.footer.privacy-policy' | translate }}</a>
          </li>
          <li>
            <a routerLink="/{{ footerRoutes.termsOfUse }}">{{ 'components.footer.terms-of-use' | translate }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
