<div class="purchae_policy_main">
  <section class="purchae_policy_banner text-left">
    <div class="container termof_use_title">
      <div class="main-title mega-title text-uppercase">{{ 'static-pages.purchase-policy.title' | translate }}</div>
    </div>
  </section>
  <section class="purchae_policy_main-content_section">
    <div class="container">
      <div class="purchae_policy_main-content">
        <h3 class="ragnar-ambassdors">{{ 'common-data.purchase-policy' | translate }}</h3>
        <p class="mb-10">{{ 'static-pages.purchase-policy.welcome-to-ragnar' | translate }}</p>
        <p>
          {{ 'static-pages.purchase-policy.about-purchase-policy' | translate }}
        </p>
        <h4>{{ 'static-pages.purchase-policy.no-refunds' | translate }}</h4>
        <p>
          {{ 'static-pages.purchase-policy.entry-fees-non-refundable' | translate }}
        </p>
        <h4>{{ 'static-pages.purchase-policy.payment-methods' | translate }}</h4>
        <p>{{ 'static-pages.purchase-policy.card-entry' | translate }}</p>
      </div>
    </div>
  </section>
</div>
